<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE suite SYSTEM "https://testng.org/testng-1.0.dtd">
<suite name="feb">
  <test thread-count="2" name="Demo" parallel="classes">
    <classes>
      
      <class name="demo.Demo_1"/>
     
      
      <class name="demo.Demo_2"/>
      
    </classes>
  </test> <!-- Demo -->
  
   <test  name="ff">
    <classes>
      
      <class name="demo.Demo_1"/>
     
      
      <class name="demo.Demo_2"/>
      
    </classes>
  </test> <!-- ff  -->
  
</suite> <!-- feb -->
